@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  text-transform: unset !important;
  letter-spacing: 0 !important;
}
body {
  min-height: 100vh;
  line-height: normal;
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.border-success{
  border-color: rgb(var(--v-theme-success)) !important;
}
.border-warning {
  border-color: rgb(var(--v-theme-warning)) !important;
}
.border-pending {
  border-color: rgb(var(--v-theme-pending)) !important;
}
.border-info {
  border-color: rgb(var(--v-theme-info)) !important;
}
.border-white {
  border-color: rgb(var(--v-theme-white)) !important;
}
.main-btn {
  // display: flex !important;
  border: 1px solid rgb(var(--v-theme-electricBlue)) !important;
  background: linear-gradient(93deg, rgb(var(--v-theme-slateBlue)) 0%, rgb(var(--v-theme-indigo)) 100%) !important;
  box-shadow: 0px 4px 10px 0px rgba(var(--v-theme-slateBlue), 0.32), 0px 2px 4px 0px rgba(var(--v-theme-white), 0.50) inset !important;
  border-radius: 8px !important;
  // height: auto !important;
  // padding: 16px 32px !important;
  .v-btn__content {
    font-weight: 500;
    color: rgb(var(--v-theme-textWhite));
    font-size: 20px;
    font-style: normal;
    line-height: normal;
  } 
}
.secondary-btn {
  display: flex !important;
  background: rgb(var(--v-theme-slateBlue)) !important;
  color: rgb(var(--v-theme-textWhite)) !important;
  border-radius: 8px !important;
  .v-btn__content {
    font-weight: 700 !important;
    font-size: 16px;
  }
}
.gradient-text {
  background: linear-gradient(90deg, rgb(var(--v-theme-gradientText1)) 0%, rgb(var(--v-theme-gradientText2)) 99.87%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.switch-card{
  background: rgba(var(--v-theme-white), 0.5);
  border: 1px solid rgb(var(--v-theme-white));
}
h1{
  font-size: $font-size-h1-lg;
  font-weight: 500;
  @media (max-width: 600px) {
    font-size: $font-size-h1-sm;
  }
}
h2{
  font-size: $font-size-h2-lg;
  font-weight: 500;
  @media (max-width: 600px) {
    font-size: $font-size-h2-lg;
  }
}
h3{
  font-size: $font-size-h3-lg;
  font-weight: 500;
  @media (max-width: 600px) {
    font-size: $font-size-h3-lg;
  }
}
h4{
  font-size: $font-size-h4-lg;
  font-weight: 500;
  @media (max-width: 600px) {
    font-size: $font-size-h4-lg;
  }
}
h5{
  font-size: $font-size-h5-lg;
  font-weight: 500;
  @media (max-width: 600px) {
    font-size: $font-size-h5-lg;
  }
}
h6{
  font-size: $font-size-h6-lg;
  font-weight: 400;
  @media (max-width: 600px) {
    font-size: $font-size-h6-lg;
  }
}
.body1{
  font-size: $font-size-body1-lg;
  font-weight: 500;
  @media (max-width: 600px) {
    font-size: $font-size-body1-lg;
  }
}
.body2{
  font-size: $font-size-body2-lg;
  font-weight: 500;
  @media (max-width: 600px) {
    font-size: $font-size-body2-lg;
  }
}
.body3{
  font-size: $font-size-body3-lg;
  font-weight: 500;
  @media (max-width: 600px) {
    font-size: $font-size-body3-lg;
  }
}

.v-field--variant-solo{
  box-shadow: unset !important;
  border-radius: 8px !important;
  border: 1px solid rgb(var(--v-theme-lightGray)) !important;
  backdrop-filter: blur(10px);
  input{
    font-size: 16px;
    font-weight: 400;
    color:rgb(var(--v-theme-blackText)) !important
  }
  &:focus-within{
    border-color: rgb(var(--v-theme-electricBlue)) !important;
  }
}


.select-drop-down{
.v-field--variant-solo {
    box-shadow: unset;
    border-radius: 6px;
    border: 1px solid rgb(var(--v-theme-lightGray));
    font-size: 14px;
    .v-field__input{
      padding: 0 5px;
    }
    .mdi-menu-down{
      display: none;
    }
  }
}
mark {
  background-color: rgba(var(--v-theme-highlight), 0.5);
}
.svg-pending circle, .svg-pending path{
  fill:rgb(var(--v-theme-gray));
}
.hidden {
  visibility: hidden;
}
.v-card{
 box-shadow: none !important;
}
.v-card .v-card-title{
  line-height: normal !important;
  hyphens: none !important;
  white-space: normal !important;
}