// $bg-secondary: #EBEBFF;

$font-size-h1-lg: 61px;
$font-size-h1-sm: 48px;

$font-size-h2-lg: 49px;
$font-size-h2-sm: 40px;

$font-size-h3-lg: 39px;
$font-size-h3-sm: 32px;

$font-size-h4-lg: 31px;
$font-size-h4-sm: 24px;

$font-size-h5-lg: 25px;
$font-size-h5-sm: 20px;

$font-size-h6-lg: 20px;
$font-size-h6-sm: 18px;

$font-size-body1-lg: 18px;
$font-size-body1-sm: 18px;

$font-size-body2-lg: 16px;
$font-size-body2-sm: 16px;

$font-size-body3-lg: 14px;
$font-size-body3-sm: 14px;

